.text_menu, .megamenu_h2 .pe {
    display: none;
}
.btn-group.open > .dropdown-menu {
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.19);
    left:auto;
    margin-top: 36px;
    padding: 22px 25px 12px;
    right:0;
    top: 0;
}
.module-group-box.open .dropdown-menu {
	min-width:211px;
}
.topheader.navbar-fixed-top .btn-group.open > .dropdown-menu{
	margin-top:29px;
}
.topheader {
    padding-left: 55px;
    padding-right: 55px;
	transition:all 0.5s ease 0s;
	position:relative;
	background: #f8f8f8;
}
.logo > span {
    line-height: 49px;
}
.megamenu_h2 {
    text-align: center;
}
.module_group_h2 .addon-box {
    float: right;
	padding:0 8px;
}
.module_group_h2 .addon-box:last-child{
	padding-right:12px;
}
.module_group_h2 .addon-box:first-child{
	margin-right: 8px;
}
.topheader .pe {
    font-size: 27px;
}
#cart_block .ajax_cart_quantity{  
    left: 20px;
    top: -9px;
}
#ajax_search {  
    top: 8px;
}
.topheader.navbar-fixed-top #ajax_search{
	top:8px;
}
.logo_h2 {
    padding-top: 48px;
	padding-bottom:48px;
}
.navbar-fixed-top {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.15);
    z-index: 1000;
	transition:all 0.5s ease 0s; border-width: 0 0 1px;
    top: 0;
	position:fixed;
}
.navbar-fixed-top #search_result .result_div{
	margin-top:-7PX;
}
.megamenu_h2 {
    padding: 16px 0;
    text-align: center;
	position:static;
}
.module_group_h2 {
    padding: 49px 0;
	position:static;
}
.btn-group.module-group-box.open li span, .btn-group.module-group-box.open li a {
    color: #222;
    font-size: 14px;
}
.topheader.navbar-fixed-top .megamenu_h2 {
 padding:0px 0;
}
.topheader.navbar-fixed-top  .logo_h2 {
    padding-top:30px;
	padding-bottom:30px;
}
.topheader.navbar-fixed-top .module_group_h2 {
    padding: 28px 0;
}
.topheader.navbar-fixed-top #cart_block .shoppingcart-box {
    top: 32px;
}
.btn-group.open .dropdown-menu::before{
	left:auto;
	right:15px;
}
#cart_block .shoppingcart-box {
    margin-top: 28px;
    right: 2px;
    top: 17px;
}
.featured_product h3 {
    padding-bottom: 0;
	line-height: 32px;
	text-align: center;
	font-size: 36px;
	margin-bottom: 73px;
	letter-spacing: 2px;
}
.wrapper-banner .box-content > span {
    color: #7c7c7c;
    font-size: 14px;
    letter-spacing: 0.5px;
}
.banner_home .wrapper-banner h4 {
    font-weight:600;
    font-size: 16px;
    line-height: 35px;
}
.feature-box i {
    height: 100px;
    line-height: 100px;
    margin-bottom: 6px;
    width: 100px;
}
.feature-box h2 {
    padding-bottom: 0;
}
.wrapper-banner .box-content {
    padding-bottom: 16px;
    padding-left: 37px;
    vertical-align: bottom;
}
#index .post-info {
    background: rgba(255, 255, 255, 0.85) none repeat scroll 0 0;
    bottom: 0;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    opacity: 0;
    padding-bottom: 17px;
    padding-top: 23px;
    position: absolute;
    text-align: center;
    transform: translateY(20px);
    transition: all 0.4s ease-in 0s;
    width: calc(100% - 10px);
    z-index: 2;
}
#index .blog-item:hover .post-info {
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.4s ease 0s;
}
#index .blog-item {
    position: relative;
}
#index .post-title {
    padding-bottom: 7px;
}
h4.post-title > a {
    font-size: 16px;
}
.post-meta li {
    padding: 0 13px;
}
.footer_h2 .logo > span {
    font-size: 35px;
}
#social_block .find-us li span {
    font-size: 20px;
    color: #555;
}
.find-us {
    text-align: center;
    margin-bottom: 0;
}
@media (min-width: 1366px){
	.block_content.block_c_right .form-group {
	    display: flex;
		margin-bottom: 0;
	}
}
.newsletter-btn {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    font-weight: 600;
    line-height: 16px;
	text-transform:uppercase;
}
.block_content.block_c_right .newsletter-input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color #ccc;
    border-style: none none none solid;
    border-width: 0 0 0 1px;
    box-shadow: none;
    font-size: 14px;
    height: 20px;
    color: rgba(17,17,17,0.5);
    padding: 0 0 0 16px;
    border: 1px solid #999;
    height: 42px;
    max-width: 225px;
    width: 100%;
}
.html_footer {
    text-align: center;
}
.html_footer ul li {
    display: inline-block;
    padding: 0 28px;
}
.list_footer_bottom {
    text-align: center;
}
.textnews_h1.addon-title {
    display: none;
}
.footer_bottom {
    padding: 30px 0 80px;
	border-top:1px solid #ebebeb;
}
.newletter_center {
    margin-top: 9px;
    text-align: center;
}
.newsletter-btn.buttonh1 {
    display: none;
}
.textnews_h3{
    display: none;
}
@media (max-width: 1700px){
	.topheader.navbar-fixed-top #ajax_search, #ajax_search{
		 top: -17px;
		 background:#fff !important;
	}
	#search_result{
		top:28px !important;
	}
	.jms-megamenu .nav > li
	{
		padding: 0 15px !important;
	}
}
@media (max-width: 1400px){
	.jms-megamenu .nav > li {		
		padding: 0 11px !important;
	}
}
@media (max-width: 1300px){
	.logo_h2{
		width:19% !important;
	}
	.megamenu_h2{
		width:60% !important;
	}
	.module_group_h2{
		width:21% !important;
	}
	.jms-megamenu .nav > li {		
		padding: 0 10px !important;
	}
}
@media (max-width: 1199px){
	.topheader {
		padding-left: 15px;
		padding-right: 15px;
	}
	.btn-group.open > .dropdown-menu {
		left: auto;
		right:0;
		transform: none;
	}
	.btn-group.open > .dropdown-menu.shoppingcart-box::before {
		right: 25px;
	}
	.btn-group.module-group-box.open > .dropdown-menu::before {
		left: 141px;
	}
	.service_content_h2.center, .service_content_h2.next {
		padding: 0 15px;
		width: 33.3333%;
	}
	#search_result {
		top: 45px !important;
	}
}
@media (max-width: 991px){
	.megamenu_h2 {
		left: 15px;
		position: absolute;
		top: 21px;
		width: 44px;
	}
	.megamenu_h2 {
		width: 46px !important;
	}
	.module_group_h2 {
		padding: 45px 0;
		position: absolute;
		right: 0;
	}
	.logo_h2{
		text-align:center;
		width:100% !important;
	}
	.module_group_h2 {
		width: 37% !important;
	}
	.block_content.block_c_right .form-group {
		min-width: 339px;
	}
	#social_block .find-us li span{
		padding-left:15px;
	}
	.html_footer ul li {
		padding: 0 14px;
	}
    .module_group_h2 .addon-box:nth-child(1) {
		display: none;
	}
}
@media (max-width: 767px){
	.banner_home .layout-column {
		margin-bottom: 30px;
	}
	.banner_home .layout-column:last-child{
		margin-bottom: 0px;
	}
	.service_content_h2.center, .service_content_h2.next {
		width: 100%;
		margin-bottom:30px;
	}
	.logo_footer{
		padding-bottom:10px;
	}
	.footer_h2 .layout-column {
		text-align: center;
	}
	.find-us {
		float: none;
	}
	.block_content.block_c_right .form-group {
		min-width: 466px;
	}
	.text-large {
		font-size: 3.5vw;
		line-height: 4vw;
		margin-top: -3vw;
	}
	.text-small {
		line-height: 3vw;
	}
	.btn-shopnow {
		font-size: 1.7vw;
		margin-top: 4vw;
	}
}
@media (max-width: 481px){
	 .logo_h2 , .topheader.navbar-fixed-top .logo_h2{
		border-bottom: 1px solid #ebebeb;
		padding-bottom: 15px;
		padding-top: 15px;
	}
	.module_group_h2 , .topheader.navbar-fixed-top .module_group_h2{
		top: 98px;
		width: 62% !important;
		padding:0;
	}
	.megamenu_h2 {
		top: 75px;
	}
	.topheader.navbar-fixed-top .megamenu_h2{
		top: 91px;
	}
	.topheader {
		padding-bottom: 67px;
	}
	.block_content.block_c_right .form-group {
		min-width: 300px;
	}
	.text-large{
		   line-height: 6vw;	
	}
	#ajax_search {
		top: -20px !important;
	}
	#search_result {
		left: 67px !important;
		top: 25px !important;
	}
	.topheader {
		padding-left: 0;
		padding-right: 0;
	}
}
.sale-off .btn-viewmore, .gift-guide .btn-viewmore{
	background: #000;
	color: #fff;
	transition: .5s ease;
	border: 2px solid #000;
	line-height: 126px;
}
.sale-off .btn-viewmore:hover, .gift-guide .btn-viewmore:hover{
	background: #dd9965;
	border-color: #dd9965;
}
.sale-off .jms-banner, .gift-guide .jms-banner{
	display: inline-flex;
	width: 100%;
}
.sale-off .content, .gift-guide .content {
	text-align: center;
	margin-left: 119px;
	width: 34%;
	padding-top: 4px;
}
.gift-guide .content{
	margin-left: 16.5%;
	padding-top: 0;
}
.sale-off .jms-banner > a{
	margin-left: 17.4%;
}
.gift-guide .jms-banner > a{
	order: 2;
	margin-left: 117px;
}
.sale-off .layout-column, .gift-guide .layout-column{
	background: #f8f8f8;
	padding:66px 0 55px;
	max-width: 1700px;
    width: 100%;
    margin-left: 15px;
}
.sale-off .text-large, .gift-guide .text-large{
	font-size: 40px;
	letter-spacing: 0;
}
.sale-off .text-small, .gift-guide .text-small{
	line-height: 0;
}
#content .jms-row{
	margin-bottom:80px;
}
.footer_top{
	padding:76px 0 20px;
}
.list_footer .addon-box a {
    color: #555;
    line-height: 33px;
}
#social_block ul li {
    background: #f3f4f6 none repeat scroll 0 0;
    border-radius: 50%;
    height: 42px;
    line-height: 42px;
    margin-right: 10px;
    text-align: center;
    width: 30px;
}

.group-btn a span{
    background: #fff;
    background-repeat: no-repeat;
    background-position: center;
    padding: 16px 25px;
    width: 100px;
    height: auto;
}
.group-btn a span:hover{
    cursor: pointer;
    background: #dd9965;
    background-repeat: no-repeat;
    background-position: center;
    padding: 16px 25px;
    width: 100px;
    height: auto;
}
.group-btn .cart{
    background-image:url('../img/cart.png');
}
.group-btn .cart:hover{
    background-image:url('../img/cart-hover.png');
}
.group-btn .heart{
    background-image:url('../img/wishlist.png');
}
.group-btn .heart:hover{
    background-image:url('../img/wishlist-hover.png');
}
.group-btn .zoom{
    background-image:url('../img/zoom.png');
}
.group-btn .zoom:hover{
    background-image:url('../img/zoom-hover.png');
}
.product-preview .group-btn{
    line-height: 50px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    display: inline-flex;
}
.group-btn a{
    margin-right:10px;
}
.group-btn{
    opacity: 0;
}
.product-preview:hover .content_price{
    opacity: 1;
}
.product-miniature:hover .preview, .banner-men .product-miniature:hover .preview{
    opacity: 0.8;
    background: #888888;
}
.product-miniature:hover .group-btn, .banner-men .product-miniature:hover .group-btn{
   opacity: 1;
}
.preview img, .banner-men .preview img{
    transition: 0.5 ease;
}
.product-miniature:hover img, .banner-men .product-miniature:hover img{
    opacity: 0.5;
}
.product-miniature:hover .discount-percentage, .banner-men .product-miniature:hover .discount-percentage{
    opacity: 0.8;
}
.product-preview:hover .preview .cart-button{
    display: inline;
}
.product-info:hover .product-link, .banner-men .product-info:hover .product-link{
    color:#dd9965;
}
.product-carousel, .banner-men .product-carousel{
	padding-top: 0;
}
.banner_home .owl-carousel .owl-item, .banner-men .owl-carousel .owl-item{
	margin-right: 0 !important;
	padding:0 15px !important;
	width: 50% !important;
}
.banner_home .owl-carousel .owl-stage, .banner-men .owl-carousel .owl-stage{
	width: 100% !important;	
}
.banner_home .product-info, .banner-men .product-info{
	display: none;
	position: absolute;
    width: 100%;
    z-index: 1;
}
.banner_home .product-miniature:hover .product-info, .banner-men .product-miniature:hover .product-info{
	display: block;
	background: #f8f8f8;
	box-shadow: 0px 0px 7px 0 rgba(0,0,0,0.3);
}
.banner_home .left img{
	max-width: 100%;
	height: auto;
}
.banner-men .right img{
	max-width: 100%;
	height: auto;
}
.product-preview, .banner-men .product-preview{
	margin-bottom:30px;
	transition: 0.5s ease;
}
@media (min-width: 1367px){
	.product-preview .preview, .banner-men .product-preview .preview{
		height: 430px;
	}
}
.owl-carousel .owl-stage-outer, .banner-men .owl-carousel .owl-stage-outer{
	overflow: visible;
}
.banner_home .right{
	padding:0;
}
.banner-men .left{
	padding:0;
}
.banner_home .content_price, .banner-men .content_price{
	margin-bottom: 11px;
}
.newsletter h3{
	padding-bottom: 27px;
	text-transform: uppercase;
}
.textnews_h4 span{
	color: #555;
}
.newsletter form{
	margin-top: 34px;
}
.newsletter .newsletter-btn.button{
	display: none;
}
.newsletter .newsletter-btn.buttonh2 {
	background: #000 url('../img/newsletter.png') no-repeat;
	background-position: center;
	width: 60px;
	height: 42px; 
}
.newsletter .newsletter-btn.buttonh2:hover{
	background-color: #dd9965;
}
#newsletter-input{
	margin-right: 5px;
}
input[type="text"]#newsletter-input::-webkit-input-placeholder, 
input[type="text"]#newsletter-input::::-moz-placeholder,
input[type="text"]#newsletter-input::-ms-input-placeholder,
input[type="text"]#newsletter-input:-moz-placeholder {
  color: #666;
}
#social_block ul li:hover .facebook span{
    color:#486292;
}
#social_block ul li:hover .twitter span{
    color:#00acf0;
}
#social_block ul li:hover .gplus span{
    color:#dc4f48;
}
#social_block ul li:hover .instagram span{
    color:#3b393a;
}
#social_block ul li{
    background-color: transparent;
}
.service .container{
	padding: 40px 0 20px;
    background: #f8f8f8;
    max-width: 1700px;
}
header{
	position: fixed;
	z-index: 9999;
	width: 100%;
}
.slider_home2 .text-large{
	letter-spacing: 0.3px;
}
.slider_home2 .small-text{
	letter-spacing: 1.05px;
}
.banner_home{
	margin-bottom: 51px !important;
}
.banner-men{
	margin-bottom: 51px !important;
}
.sale-off .text-large .percent{
	font-size: 72px;
	line-height: 1.5;
}
.gift-guide .text-large{
	line-height: 2.7;

}
.gift-guide .layout-column{
	padding-bottom: 60px;
}
.service{
	margin-bottom: 0 !important;
}
.list_footer ul{
    padding-left:13px;
}
.footer_bottom .addon-box p a{
    color:#dfa072;
}
.module_group_h2 .user-info > .account, .module_group_h2 .btn-xs.dropdown-toggle, .module_group_h2 .btn-name{
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 3px;
	margin-bottom: 16px;
}
@media (max-width: 1366px) and (min-width: 1024px){
	.jms-megamenu .nav > li{
		padding: 0 8px !important;
	}
}
@media (max-width: 1024px){
	.sale-off .jms-banner > a{
		margin-left: 0 !important;
	}
	.gift-guide .content{
		margin-left: 50px !important;
	}
	.sale-off .text-large, .gift-guide .text-large{
		line-height: normal;
	}
}
@media (max-width: 768px){
	.logo.img-responsive{
		margin:0 auto;
	}
	.third .btn-viewmore{
		margin-top: 3vw;
	}
	.sale-off .content, .gift-guide .content{
		margin-left: 0;
	}
}
#_desktop_currency_selector .btn-name{
	line-height: 4;
}